package entity

import "go.mongodb.org/mongo-driver/bson/primitive"


const {{COLLECTION_CONST}} = "{{COLLECTION_NAME}}"

type {{ENTITY}} struct {
	{{ENTITY_FIELDS}}
}

func New{{ENTITY}}() *{{ENTITY}} {
	return &{{ENTITY}}{}
}

func (e {{ENTITY}}) GetCollectionName() string {
	return {{COLLECTION_CONST}}
}

func (e {{ENTITY}}) GetID() interface{} {
	return e.ID
}

func (e {{ENTITY}}) SetID(id interface{}) {
	v := id.(primitive.ObjectID)
	e.ID = &v
}

func (e {{ENTITY}}) SetIsDocumented(b bool) {
	e._isDocumented = b
}

func (e {{ENTITY}}) GetIsDocumented() bool {
	return e._isDocumented
}
